* {
    font-family: Helvetica;
    text-align: center;
    background: white;
}
header {
    text-align: center;
}
table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 60%;
    border: 2px solid black;
    background: whitesmoke;
}
thead th {
    background: darkcyan;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}